body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

#movie-details {
    background-color: pink;
    border: 1px solid palevioletred;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: none;  
}

#movie-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: brown;
}

#movie-poster {
    width: 100px;
    height: 150px;
    float:none ;
    margin-right: 20px;
}

#movie-title {
    font-size: 25px;
    margin-bottom: 10px;
}

#movie-runtime,
#movie-showtime,
#available-tickets {
    font-size: 16px;
    margin-bottom: 10px;
}

#buy-ticket {
    background-color: rgb(44, 230, 236);
    color: rgb(212, 0, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buy-ticket:hover {
    background-color: #2a8ee0ec;
}

ul#films {
    list-style: none;
    padding: 0;
    margin: 20px;
}

ul#films li {
    background-color: pink;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 10px;
    display: flex;
    align-items: center; 
}

ul#films li a {
    text-decoration: none;
    font-size: 18px;
    color: blue;
}



